@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.user_debtors{
    width: 900px;
    padding: 1% 0 0;
    margin: auto;
    
}
.all_debtors{
    float: left;
    width: 70%;
    max-height: 95vh;
    overflow-y: scroll;
}

.debtor{
    background-size: auto, auto;
    background-color: #0099e5;
    color: #FFFFFF;
    font-size: 34px;
    padding: 15px;
    margin-top: 2px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    min-height: 100px;
}


.debtor_name{
    width: 50%;
    float:left;
}

.debtor_cash{
    width: 30%;
    float: right;
}

.debtor a{
    font-size: 18px;
}

.debtor input[type=submit]{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #ff4c4c;
    width: 45%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}

.debtor::after{
    clear: both;
}

input[type=submit], .add_debtor_button_open, .add_debt_submit, .add_debtor_button_close {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 80%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 10px;
}
.user{
    background-color: #f2f2f2;
    text-overflow: clip;
    overflow: hidden; 
    float: right;
    width: 29%;
    height: 95vh;
    padding: 3px;
    font-size: 20px;
    text-align: center;
    display: block;
    position: absolute;
    right: 10px;
}


.form-popup {
    display: none;
    margin-top: 15px;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
}

.form-popup input[type=text], .form-popup input[type=number]{
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 18px;
}

.add_debtor_button_close{
    background-color: #ff4c4c;
}
