{% extends 'base.html' %}

{% block title %}
Cash debt
{% endblock %}

{% block head %}
<link href="../static/css/index.css" rel="stylesheet"> 
{% endblock %}

{% block body %}

<div class="user_debtors">

    <div class="user">You're sign in as: <strong>{{ username.email }}</strong>
        <form action="{{ url_for('add_debt') }}">
            <input  type="submit" value="Add debtor">
        </form>
        <form action="{{ url_for('sign_out') }}">
            <input type="submit" value="Sign Out">
        </form>
    </div>
    
    <div class="all_debtors">
        {% for debtor in debtors %}
            <div class="debtor">
                <div>{{ debtor.name }}  {{ debtor.money }}</div>
                <form action="{{ url_for('delete_debt', id=debtor.id) }}">
                    <input type="submit" value="Delete">
                </form>
                <form action="{{ url_for('edit_debt', id=debtor.id) }}">
                    <input type="submit" value="Edit">
                </form>
            </div>
        {% endfor %}
    </div>
</div>





{% if errors %}
    {{ errors }}
{% endif %}


{% endblock %}